body{
   background-image: linear-gradient(to right, rgb(0, 4, 255), rgb(255, 0, 0), rgb(82, 1, 159));
}

#main {
   background-image: linear-gradient(to top, rgba(0,255,0,0.2), rgba(100,100,100,0.2),rgba(0, 255, 0,0.2));
   width: 50%;
   margin: 0 auto;
   padding: 20px;
   border-radius: 20px;
}

p{
   font-weight: bold;
}